<h1>Trading market data</h1>


<div id="data_grid">

  <table style="border-color: white; width: 100%">
    <caption>Market data from <%= @market_snapshot.name %> at <%= @time %></caption>

    <% @market_snapshot.quotes.each do |key, market| %>
        <tr>
          <td>
            <%= key %>
          </td>
          <td style="width: 80%;">
            <table style="border-color: white; width: 100%">
              <th class="marketwatch-header-text">Market</th>
              <th class="marketwatch-header-text">Price</th>
              <th class="marketwatch-header-text">Pips</th>
              <th class="marketwatch-header-text">Percentage</th>
              <% market.each do |key, market| %>
                  <tr>
                    <td class="marketwatch-cell-text"><%= key %></td>
                    <td class="marketwatch-cell-text"><%= market[:price] %></td>
                    <td class="marketwatch-cell-text"><%= market[:pips_change] %></td>
                    <td class="marketwatch-cell-text semaphore-<%= market[:price_semaphore] %>"><%= market[:percentage_chg] %></td>
                  </tr>
              <% end %>

            </table>
          </td>
        </tr>
    <% end %>

  </table>

</div>
